body {
  background-color: #ffffff !important;
  font-family: Soehne, system-ui, -apple-system, Helvetica Neue, Arial, sans-serif, Arial, sans-serif;
  margin: 0 !important;
  padding: 0;
  min-height: 100vh !important;
  overflow-y: auto !important;
}
body .chakra-ui-light {
  margin: 0 !important;
  padding: 0;
}
html {
  min-height: 100vh !important;
  overflow-y: auto !important;
}
.anchor {
  color: white;
  text-decoration: none;
}
.anchor:hover {
  text-decoration: underline;
}
.logo-anchor {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
