body {
  background-color: #ffffff !important;
  font-family: Soehne, system-ui, -apple-system, Helvetica Neue, Arial, sans-serif, Arial, sans-serif;
  margin: 0 !important;
  padding: 0;
  min-height: 100vh !important;
  overflow-y: auto !important;
}
body .chakra-ui-light {
  margin: 0 !important;
  padding: 0;
}
html {
  min-height: 100vh !important;
  overflow-y: auto !important;
}
.anchor {
  color: white;
  text-decoration: none;
}
.anchor:hover {
  text-decoration: underline;
}
.mg-top-20 {
  margin-top: 20px;
}
.anchor-content {
  font-size: 16px;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 0.2em;
}
.anchor-content:hover {
  text-decoration: underline;
  text-decoration-color: rgb(105, 105, 105);
  text-underline-offset: 0.2em;
}
.logo-anchor {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
